/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
*:not(dialog) {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
#root,
#__next {
  isolation: isolate;
}

/*  MY CSS STARTS HERE*/

/* * {
  outline: 1px solid red;
} */

:root {
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --secondary-color: #1992d4;
}

body {
  height: 100vh;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.icon {
  width: 30px;
}

.main-dashboard-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: auto 1fr;
}

header {
  grid-row: 1/2;
  grid-column: 2/3;
  display: grid;
  grid-template-rows: auto auto;
  padding: var(--space-md) var(--space-lg);
  gap: var(--space-lg);
}

.top-header-row {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: var(--space-lg);
}
.search-bar {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}

.search-bar input {
  flex: 1;
  height: 32px;
  padding: 0 var(--space-md);
  border: none;
  border-radius: 999px;
  background-color: #e2e8f0;
}

.user-notifications-section {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}

.bottom-header-row {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.user-greetings-section {
  display: flex;
  align-items: center;
  gap: var(--space-md);
}

.header-buttons {
  display: flex;
  align-items: center;
  gap: var(--space-md);
}

.header-buttons button {
  padding: 0.5rem 1.5rem;
  border-radius: 999px;
  color: white;
  background-color: var(--secondary-color);
  font-weight: 700;
  border: none;
}

.small-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #facc15;
}

.large-avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #facc15;
}

.sidebar {
  color: white;
  background-color: var(--secondary-color);
  grid-column: 1/2;
  grid-row: 1/3;
  padding: var(--space-lg);
  display: grid;
  align-content: start;
  gap: calc(var(--space-lg) * 2);
}

.sidebar li {
  display: flex;
  align-items: center;
  gap: var(--space-md);
  font-weight: 700;
}

.sidebar img {
  width: 24px;
  height: 24px;
  filter: brightness(0) invert(1);
}
.sidebar-title {
  font-size: 1.6rem;
  font-weight: 800;
  display: flex;
  align-items: center;
  gap: var(--space-md);
}

.sidebar-title img {
  width: 40px;
  height: 40px;
}

.sidebar-nav,
.sidebar-settings {
  display: grid;
  gap: var(--space-md);
}

.sidebar li:hover {
  opacity: 0.8;
  cursor: pointer;
}

.main-content {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 1rem;
  gap: 1rem;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.card {
  padding: 1rem;
  outline: 1px solid black;
}

.side-content {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
